---
import { Badge } from '@astrojs/starlight/components';
import TypeCode from './TypeCode.astro';
import DescriptionList from './DescriptionList.astro';

type Props = {
  type: string;
  details?: (string | ((...args: any[]) => any))[];
};
---

<h3>Returns</h3>
<TypeCode type={Astro.props.type} />
{Astro.props.details && <DescriptionList list={Astro.props.details} />}
